@tailwind base;
@tailwind components;
@tailwind utilities;


body.dark-mode{
    background-color:#202D36;
    color: white;
}

body.dark-mode header #icon{
    
}
body.dark-mode header{
    background-color:#2B3743;
    color: white;
    border: none;
}



body.dark-mode .container-1{
    background-color:#202D36;
}

body.dark-mode #countries{
    background-color:#202D36;
    
    color: white;
}
body.dark-mode .container-1 input{
    background-color: #2B3743;
    color: white;
    border: none;
}
body.dark-mode #countries #cards{
    background-color: #2B3743;
    color:white;
    border:none;

}

